{% extends 'employees/employee_base.html' %}

{% block title %} Employee Update {% endblock %}

{% block header %} Update Your Profile {% endblock %}

{% block content %}

<form action="{% url 'employees:edit_profile' %}" method="post">
    {% csrf_token %}
    Name: <input type="text" value="{{logged_in_employee.name}}" name="name" id="name"><br />
    Zip Code: <input type="text" value="{{logged_in_employee.zip_code}}" name="zip_code" id="zip_code"><br />
    Phone Number: <input type="text" value="{{logged_in_employee.phone_number}}" name="phone_number" id="phone_number"><br />
    <input type="submit" value="Update">
</form>

{% endblock %}