{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url 'employees:index' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'employees:edit_profile' %}">Edit Profile</a>
{% endblock %}
{% block header %} 
    <div class='row'>
        <div class='col text-center h1 text-color-button'>
        Employee - Home 
        </div>
    </div>  
{% endblock %}    
{% block sidenav %}
    <div class='row mx-auto h3 text-color-button'>Pickup Days</div>
    <div class="col">
        <ul class='nav flex-lg-column nav-pills align-items-start'>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:index' %}">Today</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;'href="{% url 'employees:display_specified_day' 'Sunday' %}">Sunday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Monday' %}">Monday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Tuesday' %}">Tuesday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Wednesday' %}">Wednesday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Thursday' %}">Thursday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Friday' %}">Friday</a>
            </li>
            <li>
                <a class='nav-link btn-lg px-5 active m-1' style='background-color: #798777;' href="{% url 'employees:display_specified_day' 'Saturday' %}">Saturday</a>
            </li>
        </ul>
    </div>
{% endblock %}
<!-- remember footer -->
