{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p> Hello Employee {{ user.username }}!
    Today is {{today}}</p>
    
    <ul>
      {% for customer in customer_list %}
      <li><div>{{customer.name}}</div></li>
    </ul>
      {%endfor%}
    <ul>
      {% for customer in one_time_pickup_customers%}
      <li><div>{{customer.name}}</div></li>
    </ul> 
      {%endfor%} 
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}