{% extends 'employees/employee_base.html' %}
{% block title %}Employee Home - Trash Collector{% endblock %}
<!-- <div class='container'>
  <div class='row'>
    <div class='col text-center h1'>
    Employee - Home 
    </div>
  </div> -->
  

{% block content %}
  <div class = "row">
    {% if user.is_authenticated %}
    <div class='col text-center h2 d-none d-lg-block text-color-button'>
    Hello {{ user.username }}! Today is {{today}}
    </div>
  

  <div class='row'>
    <div class='col h3 text-center mt-3 text-color-button'>
      Today's Pickup Schedule
    </div>
  </div>
  <div class='row'>
    <div class='col'></div>
      <table class='table bg-color-secondary'>
        <thead>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Address</th>
            <th scope='col'>Zip Code</th>
            <th scope='col'>Confirm Pickup</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr scope='row'>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.zip_code}}</td>
            <td>
              <button type="button" class='btn bg-color-button'>
              <a class='text-color-primary' href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
              </button>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>    
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col h3 text-center mt-3 text-color-button'>
      One Time Pickup Schedule
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <table class='table bg-color-secondary'>
        <thead>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Address</th>
            <th scope='col'>Zip Code</th>
            <th scope='col'>Confirm Pickup</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in one_time_pickup_customers %}
          <tr scope='row'>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.zip_code}}</td>
            <td>
              <button type="button" class='btn bg-success'>
              <a class='text-color-primary' href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
              </button>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>   
  </div>


  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
</div>

{% endblock %}