{% extends 'customers\customer_base.html' %}

{% block title %} Customer Profile Edit {% endblock %}

{% block header %} Update Your Information {% endblock %}

{% block content %}
<br />
<form action="{% url 'customers:edit_profile' %}" method="post">
    {% csrf_token %}
    Name: <input type="name" name="name" id="name">
    <br />
    <br />
    Address: <input type="address" name="address" id="address">
    <br />
    <br />
    Zip Code: <input type="zip_code" name="zip_code" id="zip_code">
    <br />
    <br />
    <input type="submit" value="Submit">
</form>

{% endblock %}