{% extends 'customers\customer_base.html' %}

{% block title %} Customer Profile Edit {% endblock %}

{% block content %}
<div class="bg-success text-white p-3 h5">Update Your Information</div>
<form action="{% url 'customers:edit_profile' %}" method="post">
    {% csrf_token %}
    <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
            <tr class="table-success">
                <th scope="row">Name:</th>
                <td><input class="form-control" type="name" name="name" id="name" value="{{logged_in_customer.name}}"></td>
            </tr>
            <tr class="table-success">
                <th scope="row">Address:</th>
                <td><input class="form-control"type="address" name="address" id="address" value="{{logged_in_customer.address}}"></td>
            </tr>
            <tr class="table-success">
                <th scope="row">Zip Code:</th>
                <td><input class="form-control" type="zip_code" name="zip_code" id="zip_code" value="{{logged_in_customer.zip_code}}"></td>
            </tr>
            <tr>
                <th scope="row"><input class ="bg-success text-white btn" type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}