{% extends 'customers\customer_base.html' %}

{% block title %} Customer Home {% endblock %}
{% if user.is_authenticated %}

  
  {% block content %}
  
  <div class = "rounded bg-color-button text-color-primary p-3 h2"> Welcome {{ logged_in_customer.name }} </div>
    <div class = "rounded container-fluid bg-color-secondary">
        <h5 class='pt-2' align="center">Today is {{today}}</h5>
        <div class = "row">
            <div class = "col-6">
                <br />
                <br />
                <br />
                <p align="center" class="fs-5">Current balance this cycle: $ {{ logged_in_customer.balance }}.00 </p>
                <p align="center" class="fs-5"><button type="button" class ="btn bg-color-button text-color-primary"> Your Bill Here </button></p>
            </div>
                <div class = "col-6">
                <br />
                <br />
                <div class = "fw-bold fs-5">Your Weekly Pickup Day:</div> 
                    <p class="fs-6">{{ logged_in_customer.weekly_pickup }}</p>
                <div class = "fw-bold fs-5">Address on File:</div> 
                    <p class="fs-6">{{ logged_in_customer.address }} {{logged_in_customer.zip_code }}</p>
                {% if logged_in_customer.one_time_pickup %}
                <div class = "fw-bold fs-5">You have an extra pickup scheduled for: </div>
                    <p class="fs-6">{{ logged_in_customer.one_time_pickup }}</p>
                {% else %}
                <p class="fst-italic fs-5" align="justify">You can schedule an extra pick-up with the links above.</p>
                {% endif %}
                {% if today > logged_in_customer.suspend_start and today < logged_in_customer.suspend_end %}
                <div class = "fw-bold fs-5">Your pickups are suspended until: </div> 
                <p class="fs-6">{{ logged_in_customer.suspend_end }}</p>
                {% else %}
                <p class="fst-italic fs-5" align="justify">You can suspend your services with the links above.</p>
                {% endif %}
                
                </div>
        </div>
    </div>
    {% endblock %}

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}


