{% extends 'customers\customer_base.html' %}

{% block title %} Customer Home {% endblock %}

{% block header %} Customer Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_customer.name }}!<br />
        Address: {{ logged_in_customer.address }} {{logged_in_customer.zip_code }}<br />
        Current balance: $ {{ logged_in_customer.balance }}.00
        <br />
        <br />
        Your Weekly Pickup Day: {{ logged_in_customer.weekly_pickup }}
        <br />
        <br />
        {% if logged_in_customer.one_time_pickup %}
          You have an extra pickup scheduled for {{ logged_in_customer.one_time_pickup }}
        {% endif %}
        <br />
        <br />
        {% if today > logged_in_customer.suspend_start and today < logged_in_customer.suspend_end %}
          Your pickups are suspended until {{ logged_in_customer.suspend_end }}
        {% endif %}

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}