{% extends 'customers\customer_base.html' %}

{% block title %} One Time Pickup {% endblock %}

{% block content %}
<div class="bg-success text-white px-3">Choose A One Time Pickup</div>
<br />
<form action="{% url 'customers:one_time' %}" method="post">
    {% csrf_token %}
    <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="table-success">Date of Pickup:</th>
                <td class="table-success"> <input type="date" name="date" id="date"></td>
            </tr>
            <tr>
                <th scope="row"><input class ="bg-success text-white btn" type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}