{% extends 'customers\customer_base.html' %}

{% block title %} One Time Pickup {% endblock %}

{% block content %}
<div class = "rounded bg-color-button text-color-primary p-3 h3">Choose A One Time Pickup</div>
<form action="{% url 'customers:one_time' %}" method="post">
    {% csrf_token %}
    <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
            <tr class="bg-color-secondary rounded">
                <th  style="width:30%" scope="row"><span class="px-2 fs-4">Date of Pickup:</span></th>
                <td class="pe-5 "> <input type="date" name="date" id="date"></td>
            </tr>
            <tr>
                <th scope="row" ><input class ="bg-color-button text-color-primary btn" type="submit" value="Submit"></th>
            </tr>
        </tbody
    </table>
    </form>
{% endblock %}